@page "{id:guid}"
@model checkpoint_web.Pages.Productos.DetailsModel
@{
 ViewData["Title"] = "Detalles Producto";
}
<h1>Detalles</h1>
<div>
 <dl class="row">
 <dt class="col-sm-2">Sku</dt>
 <dd class="col-sm-10">@Model.Producto?.Sku</dd>
 <dt class="col-sm-2">Nombre</dt>
 <dd class="col-sm-10">@Model.Producto?.Nombre</dd>
 <dt class="col-sm-2">Unidad</dt>
 <dd class="col-sm-10">@Model.Producto?.Unidad</dd>
 <dt class="col-sm-2">Vida útil</dt>
 <dd class="col-sm-10">@Model.Producto?.VidaUtilDias</dd>
 <dt class="col-sm-2">Temp min</dt>
 <dd class="col-sm-10">@Model.Producto?.TempMin</dd>
 <dt class="col-sm-2">Temp max</dt>
 <dd class="col-sm-10">@Model.Producto?.TempMax</dd>
 <dt class="col-sm-2">Stock Minimo</dt>
 <dd class="col-sm-10">@Model.Producto?.StockMinimo</dd>
 <dt class="col-sm-2">Activo</dt>
 <dd class="col-sm-10">@(Model.Producto?.Activo == true ? "Sí" : "No")</dd>
 </dl>
 <a class="btn btn-secondary" asp-page="Index">Volver</a>
 <a class="btn btn-primary" asp-page="Edit" asp-route-id="@Model.Producto?.Id">Editar</a>
</div>
